.body-sucu {
    background: #000000;
    background: -webkit-linear-gradient(to top, #e74c3c, #000000);
    background: linear-gradient(to top, #e74c3c, #000000);
    margin: 0;
    position: relative;
    padding-bottom: 3em;
    min-height: 100vh;
}

.header-suc {
    text-align: center;
    text-decoration: none;
    list-style: none;
    font-size: 3em;


}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    margin-bottom: 15px;
    transition: all .3s ease;
    list-style: none;

}

.navbar li a:hover {
    color: #FFFFFF;
    padding-left: 6px;
    list-style: none;
    text-decoration: dashed;
    margin-bottom: 15px;
    transition: all .3s ease;
    list-style: none;


}

.navbar li a {
    list-style: none;
    text-decoration: rgb(243, 236, 236);
    font-family: "Roboto", sans-serif;
    color: rgba(218, 217, 238, 0.596);
    font-size: 3rem;
    display: block;


}

.mapas {
    margin-top: 150px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}


.tmapa1 {
    color: #ffffff;
    text-transform: capitalize;
    font-family: "Roboto", sans-serif;
    font-size: 2rem;
    width: 100%;
    min-height: 50px;
    margin-left: 95px;
}

.mapa1 {
    text-align: center;
}