.body-inicio{
    background: #000000;
    background: -webkit-linear-gradient(to top, #e74c3c, #000000);
    background: linear-gradient(to top, #e74c3c, #000000);
    margin: 0;
    position: relative;
    padding-bottom: 3em;
    min-height: 200vh;

}